*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*Titilos y sub-titulos*/
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

/*Boton todos tamaño, negrita, espacio, borde, color de texto, color de boton*/
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 4px 4px 6px 4px rgba(215, 223, 214, 0.432);
    color: white;
    background-color: rgb(140, 0, 75);
    
}

/*Sub-color de boton*/
button:hover{
    background-color: rgba(2, 213, 250);
}

/*Toda la clase container serian 5 niveles*/
.container{
    max-width: 1400px;
    margin: auto;
}

/*color de texto la mitad vede*/
.color-acento{ color:rgba(140, 0, 75); }

/*cabecera color*/
/* header{
    background-color: rgb(245,245,245);
    
} */

/*cabecera logo, margen espacio = 0, espacio relleno, txt negrita, color, txt tamaño */
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(140, 0, 75);
    font-size: 1.6em;
}

/*contenido del header*/
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*contenido del header Estudios, Proyectos, Contactos*/
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

/*formato de txt de header Estudios, Proyectos, Contactos*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(140, 0, 75);
}

/*sub-color de txt de header Estudios, Proyectos, Contactos*/
header a:hover{
    color: rgb(2, 213, 250);
}

/**/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: /*linear-gradient(
        0deg,
        rgba(5, 10, 5, 0.80),
        rgba(90, 40, 90, 0.80)
    ),*/
    url("media/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Titulo */
#hero h1{
    color: white;
}

/* Boton */
#hero button{
    font-size: 1.75em;
}


#Estudios .container{
    text-align: center;
    padding: 110px 12px;
}


#nuestros-programas{
    background-image: /*linear-gradient(
        0deg,
        rgba(5, 10, 5, 0.80),
        rgba(90, 40, 90, 0.80)
    ),*/
    url("media/61.jpg");
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:hover{box-shadow: 3px 3px 5px 3px #999;}
/*.carta:hover {filter: opacity(.5);}*/

/*cartas son 3*/
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/front-end.jpg");

}


.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/python.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 22px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        background-image: /*linear-gradient(
        0deg,
        rgba(5, 10, 5, 0.80),
        rgba(90, 40, 90, 0.80)
    ),*/
    url("media/61.jpg");
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 4px;
    color: rgb(100,100,100);
}

footer .container{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #Estudios .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Estudios .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Estudios h2{
        margin-top: 0px;
    }

    #Estudios .img-container{
        background-image: url("media/6.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        box-shadow: 4px 4px 6px 4px rgba(10, 19, 9, 0.432);
    }
    #Estudios .img-container:hover {filter: sepia(60%);}

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #caracteristicas{
        background-image: url("media/hero.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position:  calc(100vw - 500px) 120px;
    }

   #caracteristicas .container{
    text-align: initial;
   }

   #caracteristicas ul{
    margin-left: 100px;
   }

   #final h2{
    font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 700px);
    }
}














